// Variables
$website-width: 1280px;
$yellow-dark: #ffbc00;
$yellow-light: #fffb7d;
$green-dark: #4c7f46;
$green-light: #85ffbd;
$blue-color: #3c93c0;
$red-color: #b43153;
$brown-color: #a17656;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image-425: url('../img/showcase_425.jpg');
$bg-image-768: url('../img/showcase_768.jpg');
$bg-image-1024: url('../img/showcase_1024.jpg');
$bg-image-1280: url('../img/showcase_1280.jpg');
$bg-image-1440: url('../img/showcase_1440.jpg');
$bg-image-2560: url('../img/showcase_2560.jpg');
